/* Flexible Slide-to-top Accordion Style*/
.accordion{
	width:370px;
	max-width:370px;
	position: absolute;
    top: 120px;
    right: 20%;
}
.st-accordion{
    width:100%;
    min-width:270px;
    margin: 0 auto;
}
.st-accordion ul li{
    height: 60px;
    border:1px solid #e59c28;
    background: rgba(151,41,40,0.6);
    overflow: hidden;
    margin-bottom: 10px;
}
.st-accordion ul li:first-child{
    border-top:none;
}
.st-accordion ul li > a{

    font-size: 18px;
    display: block;
	position: relative;
    padding: 20px 30px;
	outline:none;
    color: white;
    line-height: 20px;
    text-transform: uppercase;
    -webkit-transition:  color 0.2s ease-in-out;
	-moz-transition:  color 0.2s ease-in-out;
	-o-transition:  color 0.2s ease-in-out;
	-ms-transition:  color 0.2s ease-in-out;
	transition:  color 0.2s ease-in-out;
}
.st-accordion ul li > a span{
	background: transparent url(../img/arrow-down.png) no-repeat center center;
	text-indent:-9000px;
	width: 16px;
	height: 10px;
	position: absolute;
	top: 50%;
	right: -26px;
	margin-top: -7px;
	opacity:0;
	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}
.st-accordion ul li > a:hover{
    color: #fff;
    text-decoration: none;
}
.st-accordion ul li > a:hover span{
	opacity:1;
	right: 10px;
}
.st-accordion ul li.st-open > a{
    color: #fff;
    text-decoration: none;
}
.st-accordion ul li.st-open > a span{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
    transform:rotate(180deg);
	right:10px;
	opacity:1;
}
.st-content{
    padding: 20px 0px;
    margin: 0px 30px;
    border-top:1px solid #e59c28;
}
.st-content p{
    font-size:  16px;
    font-family:  Georgia, serif;
    font-style: italic;
    line-height:  28px;
    padding: 0px 4px 15px 4px;
}
.st-content img{

}
@media screen and (max-width: 320px){
	.st-accordion ul li > a{
		font-size:36px;
	}
}
